<!-- COLUMN 1-->
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	<!-- CARD 01 -->
	<div class="card bunCards">
		<!-- COLOR HEADER -->
		<div class="card-header bunHeaders">
			<!-- IMAGE -->
			<img class="card-img-top bunnyImgs" src="assets/img/HopperBunny.png{{this.bunnyPhoto}}" alt="Bunny 1">
		</div>      
		<!-- DETAILS -->
		<div class="card-body BunBodies">
			<!-- TITLE -->
			<h5 class="card-title BunTitles">Bunny: <span class="bunIDSpan" id="bunID{{this.id}}">{{this.bunnyName}}</span></h5>
			<p class="card-text BunText">
				Location:<span class="bunResSpan" id="bunLoc1">{{this.destination}}</span><br>
				Age:<span class="bunResSpan" id="bunAge1">{{this.age}}</span><br>
				Gender:<span class="bunResSpan" id="bunGen1">{{this.gender}}</span><br>
				Primary Languge:<span class="bunResSpan" id="bunGen1">{{this.primaryLanguage}}</span><br>
				Secondary Languge:<span class="bunResSpan" id="bunGen1">{{this.secondaryLanguage}}</span><br>
				Fun:<span class="bunResSpan" id="bunFun1">{{this.activities}}</span>
			</p>
			<div class="text-center">
				{{!-- <button class="btn btn-primary selectBunBtns">CONTACT</button> --}}
				<a href="#" class="btn btn-primary selectBunBtns">CONTACT</a>
			</div>
		</div>	
	</div>
</div>